.listContainer {
  background: #fff;
  min-height: 150px;
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  border-radius: 5px;
}

.titleCategory {
  margin-bottom: 0.7rem;
  color: #053575;
  font-size: 17px;
}

.textNoProduct {
  text-align: center;
}

.itemProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.price {
  width: 80px;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.itemProduct.active {
  color: #c1c1c1;
}

.itemProduct.Lacteos {
  background-color: rgb(199, 233, 247);
}
.itemProduct.active.Lacteos {
  background-color: rgba(199, 233, 247, 0.397);
}

.itemProduct.Verduras {
  background-color: rgb(211, 248, 211);
}
.itemProduct.active.Verduras {
  background-color: rgba(211, 248, 211, 0.247);
}

.itemProduct.Carne {
  background-color: rgb(252, 228, 228);
}
.itemProduct.active.Carne {
  background-color: rgba(252, 228, 228, 0.226);
}

.itemProduct.Harinas {
  background-color: rgb(255, 253, 230);
}
.itemProduct.active.Harinas {
  background-color: rgba(255, 253, 230, 0.24);
}

.itemProduct.Art-Limpieza {
  background-color: rgb(255, 232, 203);
}
.itemProduct.active.Art-Limpieza {
  background-color: rgba(255, 232, 203, 0.205);
}
.itemProduct.Higiene {
  background-color: rgb(250, 211, 255);
}
.itemProduct.active.Higiene {
  background-color: rgba(250, 211, 255, 0.212);
}
.itemProduct.Bebidas {
  background-color: rgb(247, 238, 255);
}
.itemProduct.active.Bebidas {
  background-color: rgba(247, 238, 255, 0.247);
}
.itemProduct.Fiambres {
  background-color: rgb(248, 237, 221);
}
.itemProduct.active.Fiambres {
  background-color: rgba(248, 237, 221, 0.219);
}
.itemProduct.Otros {
  background-color: rgb(210, 210, 253);
}
.itemProduct.active.Otros {
  background-color: rgba(210, 210, 253, 0.233);
}
.checkbox {
  cursor: pointer;
  transform: scale(1.15);
}

.productTitle {
  flex: 1;
}

.btnDeleteItem {
  cursor: pointer;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  color: red;
  display: grid;
  place-content: center;
  transition: transform 0.3s ease;
}

.itemProduct.active .btnDeleteItem svg {
  color: rgba(255, 0, 0, 0.192);
}
.btnDeleteItem:hover {
  transform: scale(1.05);
}

.totalPrice {
  text-align: end;
  margin-right: 80px;
  padding-top: 0.7rem;
  color: #053575;
  font-size: 16px;
  font-weight: 500;
}

.itemProduct.active .price {
  background-color: #ffffff2c;
  border: #ffffff2c;
  color: #c1c1c1;
}

.itemProduct.active .productTitle {
  color: #c1c1c1;
}
