.categoryContainer {
  background-color: #053575;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.categoryButton {
  background: none;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-bottom 0.3s ease,
    color 0.3s ease;
  font-size: 0.95rem;
  border-radius: 4px;
}

.categoryButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.categoryButton.active {
  background: #305f99;
  border-radius: 4px;
  font-weight: 700;
  color: #f1f1f1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media(max-width:480px){
  .categoryContainer{
    gap: 0;
  }
}