@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
* {
  font-family: "Red Hat Text", sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
